body {
  height: 100vh;
  background-color: #2e0249;
  color: #f806cc;
  font-family: "Poppins", sans-serif;
}

main {
  height: 100%;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  gap: 24px;
}

.form-layout {
  width: 100%;
}

.form-layout label {
  display: block;
  cursor: pointer;
  margin-bottom: 12px;
  font-size: 21px;
  font-weight: 600;
}

.form-layout input {
  text-transform: uppercase;
  width: 100%;
  transition: all 0.25s ease;
  border-radius: 5px;
  border: 0;
  background-color: #fff;
  padding: 5px 10px;
  font-size: 16px;
  color: #2e0249;
  font-weight: 600;
}

.form-layout input:focus {
  outline: none;
  box-shadow: 0 0 0 0.25rem rgba(248, 6, 204, 0.45);
}

#header {
  font-weight: 800;
}

#main {
  font-weight: 600;
}

#footer {
  font-size: 18px;
  text-align: center;
  line-height: 1.6;
  font-weight: 400;
}
